
<div class="intro">
  <div class="version">Bulletin Board Version <%= Decidim::BulletinBoard::VERSION %></div>

  <h1>Bulletin Board Version API documentation</h1>
  <% if defined?(graphiql_rails) %>
    <%= link_to "Explore the API interactively with GraphiQL", graphiql_rails_path %>
  <% end %>
</div>

<div class="info">
  <%= render_doc("usage") %>
</div>

<div id="documentation"></div>

<script>
 window.renderDocumentation("/api");
</script>
