.stress-tests-section {
  display: none;
}
.stress-tests.button.pressed {
  display: none;
  & + .stress-tests-section {
    display: block;
    padding: 2px;
  }
}
.generate-votes-input {
  width: 55px;
}
