<html>
  <head>
    <title>Bulletin Board - API Documentation</title>
    <%= javascript_include_tag "api/docs" %>
    <%= stylesheet_link_tag "api/docs.css" %>
    <style>
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
