[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = ">=3.8.3"
pytest = "*"
black = "*"

[packages]
electionguard = {path = "./../electionguard-python/dist/electionguard-1.2.3-py3-none-any.whl"}
jsons = '==1.2'

[requires]
python_version = "3.8.11"

[pipenv]
allow_prereleases = true
